<!--
	Locus by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

<head>
	<title>Untitled</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="profileAssets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<section id="header">
			<header>
				<h1><a href="/feed"></a></h1>
				<p>
					
				</p>
			</header>
			<nav id="nav">
				<ul>
					<li><a href="/feed">Reviews</a></li>
					<li><a href="/review">Create Review</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/logout">Log Out</a></li>
				</ul>
			</nav>
		</section>
		<!-- Banner -->
		<!-- <section id="banner">
						<h2>Integer aliquam<br />
						blandit accumsan<br />
						dolore sed varius<br />
						placerat feugiat.</h2>
						<ul class="actions special">
							<li><a href="#" class="button large">Full Story</a></li>
						</ul>
					</section> -->

		<!-- One -->
		<section class="main style1">
			<section>
				<h2>Add a post</h2>
				<form action="/post/createPost" enctype="multipart/form-data" method="POST">
					<div class="mb-3">
						<label for="title" class="form-label">Title</label>
						<input type="text" class="form-control" id="title" name="title">
					</div>
					<div class="mb-3">
						<label for="caption" class="form-label">Caption</label>
						<textarea class="form-control" id="caption" name="caption"></textarea>
					</div>
					<div class="mb-3">
						<label for="imgUpload" class="form-label">Image</label>
						<input type="file" class="form-control" id="imageUpload" name="file">
					</div>
			</section>
			<section>
				<h3>Reviews</h3>
				<label for="imgUpload" class="form-label">Price</label>
				<div class="sliders">
					<input type="range" min="0" max="10" value="5" oninput="rangeValue.innerText = this.value">
					<p id="rangeValue">5</p>
				</div>
				<label for="imgUpload" class="form-label">Location</label>
				<div class="sliders">
					<input type="range" min="0" max="10" value="5" oninput="rangeValue.innerText = this.value">
					<p id="rangeValue">5</p>
				</div>
				<label for="imgUpload" class="form-label">Taste</label>
				<div class="sliders">
					<input type="range" min="0" max="10" value="5" oninput="rangeValue.innerText = this.value">
					<p id="rangeValue">5</p>
				</div>
				<button type="submit" class="btn btn-primary" value="Upload">Submit</button>
			</section>
		</section>

		<!-- Two -->
		<section class="main style2">
			<header class="major">
				<h2>Your Reviews<br />
				</h2>
				<p><br />
				</p>
			</header>
			<% for(var i=0; i<posts.length; i++) {%>
				<section class="left">
					<a href="/post/<%= posts[i]._id%>" class="image"><img src="<%= posts[i].image%>" alt="" /></a>
					<a href="/post/<%= posts[i]._id%>">
						<div class="content">
							<h3>
								<%= posts[i].title %>
							</h3>
					</a>
					<p>
						<%= posts[i].caption %>
					</p>
	</div>
	</section>
	<% } %>

		<footer class="major">
			<p>That's all your reviews.<br />
				Better find some new coffee!</p>
			<ul class="actions special">
				<li><a href="/createPost" class="button large">Create Review</a></li>
			</ul>
		</footer>
		</section>

		<!-- Footer -->
		<!-- <section id="footer">
						<h2>Contact Us</h2>
						<p>Cubilia in ornare mi. Accumsan massa vis vis commodo lorem ipsum.<br />
						Adipiscing amet odio id consectetur penatibus accumsan adipiscing.</p>
						<form action="#" method="post">
							<div class="row gtr-uniform gtr-50">
								<div class="col-6 col-12-xsmall">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="col-6 col-12-xsmall">
									<input type="email" name="email" id="email" placeholder="Email" />
								</div>
								<div class="col-12">
									<input type="text" name="subject" id="subject" placeholder="Subject" />
								</div>
								<div class="col-12">
									<textarea name="message" id="message" placeholder="Message" rows="8"></textarea>
								</div>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</div>
							</div>
						</form>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						</ul>
					</section> -->

		</div>

		<!-- Copyright -->
		<div id="copyright">
			&copy; Alex Weimer. All rights reserved.
		</div>

		<!-- Scripts -->
		<script src="feedAssets/js/jquery.min.js"></script>
		<script src="feedAssets/js/browser.min.js"></script>
		<script src="feedAssets/js/breakpoints.min.js"></script>
		<script src="feedAssets/js/util.js"></script>
		<script src="feedAssets/js/main.js"></script>

</body>

</html>